# Part 0: Setting up

## Install and start MongoDB

In [1]:
!apt install -qq mongodb
!service mongodb start

The following additional packages will be installed:
  libpcap0.8 libyaml-cpp0.6 mongo-tools mongodb-clients mongodb-server
  mongodb-server-core
The following NEW packages will be installed:
  libpcap0.8 libyaml-cpp0.6 mongo-tools mongodb mongodb-clients mongodb-server
  mongodb-server-core
0 upgraded, 7 newly installed, 0 to remove and 24 not upgraded.
Need to get 55.8 MB of archives.
After this operation, 226 MB of additional disk space will be used.
Selecting previously unselected package libpcap0.8:amd64.
(Reading database ... 122352 files and directories currently installed.)
Preparing to unpack .../0-libpcap0.8_1.9.1-3_amd64.deb ...
Unpacking libpcap0.8:amd64 (1.9.1-3) ...
Selecting previously unselected package libyaml-cpp0.6:amd64.
Preparing to unpack .../1-libyaml-cpp0.6_0.6.2-4ubuntu1_amd64.deb ...
Unpacking libyaml-cpp0.6:amd64 (0.6.2-4ubuntu1) ...
Selecting previously unselected package mongo-tools.
Preparing to unpack .../2-mongo-tools_3.6.3-0ubuntu1_amd64.deb ...
Unpacking mongo-tools (3.6.3-0ubuntu1) ...
Selecting previously unselected package mongodb-clients.
Preparing to unpack .../3-mongodb-clients_1%3a3.6.9+really3.6.8+90~g8e540c0b6d-0ubuntu5.3_amd64.deb ...
Unpacking mongodb-clients (1:3.6.9+really3.6.8+90~g8e540c0b6d-0ubuntu5.3) ...
Selecting previously unselected package mongodb-server-core.
Preparing to unpack .../4-mongodb-server-core_1%3a3.6.9+really3.6.8+90~g8e540c0b6d-0ubuntu5.3_amd64.deb ...
Unpacking mongodb-server-core (1:3.6.9+really3.6.8+90~g8e540c0b6d-0ubuntu5.3) ...
Selecting previously unselected package mongodb-server.
Preparing to unpack .../5-mongodb-server_1%3a3.6.9+really3.6.8+90~g8e540c0b6d-0ubuntu5.3_all.deb ...
Unpacking mongodb-server (1:3.6.9+really3.6.8+90~g8e540c0b6d-0ubuntu5.3) ...
Selecting previously unselected package mongodb.
Preparing to unpack .../6-mongodb_1%3a3.6.9+really3.6.8+90~g8e540c0b6d-0ubuntu5.3_amd64.deb ...
Unpacking mongodb (1:3.6.9+really3.6.8+90~g8e540c0b6d-0ubuntu5.3) ...
Setting up libpcap0.8:amd64 (1.9.1-3) ...
Setting up libyaml-cpp0.6:amd64 (0.6.2-4ubuntu1) ...
Setting up mongodb-clients (1:3.6.9+really3.6.8+90~g8e540c0b6d-0ubuntu5.3) ...
Setting up mongo-tools (3.6.3-0ubuntu1) ...
Setting up mongodb-server-core (1:3.6.9+really3.6.8+90~g8e540c0b6d-0ubuntu5.3) ...
Setting up mongodb-server (1:3.6.9+really3.6.8+90~g8e540c0b6d-0ubuntu5.3) ...
invoke-rc.d: could not determine current runlevel
invoke-rc.d: policy-rc.d denied execution of start.
Created symlink /etc/systemd/system/multi-user.target.wants/mongodb.service → /lib/systemd/system/mongodb.service.
Setting up mongodb (1:3.6.9+really3.6.8+90~g8e540c0b6d-0ubuntu5.3) ...
Processing triggers for man-db (2.9.1-1) ...
Processing triggers for libc-bin (2.31-0ubuntu9.9) ...
Processing triggers for systemd (245.4-4ubuntu3.21) ...
 * Starting database mongodb
   ...done.

## Download dataset and push to our mongodb

In [2]:
# It's already the 21st century and people are very impatient, so they use Brotli for text and Zstd for everything else.
# Reference: https://github.com/google/brotli
!apt-get install -qq brotli

Selecting previously unselected package brotli.
(Reading database ... 122419 files and directories currently installed.)
Preparing to unpack .../brotli_1.0.7-6ubuntu0.1_amd64.deb ...
Unpacking brotli (1.0.7-6ubuntu0.1) ...
Setting up brotli (1.0.7-6ubuntu0.1) ...
Processing triggers for man-db (2.9.1-1) ...

In [3]:
!wget -q https://csc14118.github.io/thuoc_raw.json.br
!wget -q https://csc14118.github.io/gia_ke_khai_raw.json.br
!wget -q https://csc14118.github.io/movies_lang.json.br

In [4]:
!brotli -d *.br

In [5]:
!pip install -q pymongo

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 492.1/492.1 kB 9.6 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 283.7/283.7 kB 28.2 MB/s eta 0:00:00

In [6]:
import json
from pymongo import MongoClient

client = MongoClient()

# Creation of the new database
db = client['input_data']

collection_name = ["gia_ke_khai_raw", "movies_lang", "thuoc_raw"]

# Push our data to mongodb
for data in collection_name:
    collection = db[data]
    chunks = json.load(open(f'{data}.json'))
    collection.insert_many(chunks)

# Create a dummy database to test
db = client['dummy']
db['chunks'].insert_many([{'Banh xeo': 'Rat ngon'},{'Banh bao': 'Cung ngon'}])

client.list_database_names()

['admin', 'config', 'dummy', 'input_data', 'local']

## Install pyspark

In [7]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q "https://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop2.7.tgz"
!tar xf spark-3.1.1-bin-hadoop2.7.tgz
!pip install -q findspark

In [8]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "spark-3.1.1-bin-hadoop2.7"
import findspark
findspark.init()
findspark.find()

'spark-3.1.1-bin-hadoop2.7'

In [9]:
import pyspark
print(pyspark.__version__)

3.1.1

## Dirty trick to connect spark to our mongodb

In industry environment, please read the docs carefully to seting up these complicated things.

In [10]:
!rm $SPARK_HOME/jars/mongo*.jar
!rm $SPARK_HOME/jars/bson*.jar

rm: cannot remove 'spark-3.1.1-bin-hadoop2.7/jars/mongo*.jar': No such file or directory
rm: cannot remove 'spark-3.1.1-bin-hadoop2.7/jars/bson*.jar': No such file or directory

In [11]:
!cd $SPARK_HOME/jars && wget https://repo1.maven.org/maven2/org/mongodb/spark/mongo-spark-connector_2.12/10.1.1/mongo-spark-connector_2.12-10.1.1.jar
!cd $SPARK_HOME/jars && wget https://repo1.maven.org/maven2/org/mongodb/mongodb-driver/3.12.12/mongodb-driver-3.12.12.jar
!cd $SPARK_HOME/jars && wget https://repo1.maven.org/maven2/org/mongodb/mongo-java-driver/3.12.12/mongo-java-driver-3.12.12.jar
!cd $SPARK_HOME/jars && wget https://repo1.maven.org/maven2/org/mongodb/bson/4.6.0/bson-4.6.0.jar

--2023-04-20 13:03:30--  https://repo1.maven.org/maven2/org/mongodb/spark/mongo-spark-connector_2.12/10.1.1/mongo-spark-connector_2.12-10.1.1.jar
Resolving repo1.maven.org (repo1.maven.org)... 199.232.192.209, 199.232.196.209, 2a04:4e42:4c::209, ...
Connecting to repo1.maven.org (repo1.maven.org)|199.232.192.209|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 156368 (153K) [application/java-archive]
Saving to: ‘mongo-spark-connector_2.12-10.1.1.jar’

mongo-spark-connect 100%[===================>] 152.70K  --.-KB/s    in 0.02s

2023-04-20 13:03:30 (6.36 MB/s) - ‘mongo-spark-connector_2.12-10.1.1.jar’ saved [156368/156368]

--2023-04-20 13:03:30--  https://repo1.maven.org/maven2/org/mongodb/mongodb-driver/3.12.12/mongodb-driver-3.12.12.jar
Resolving repo1.maven.org (repo1.maven.org)... 199.232.192.209, 199.232.196.209, 2a04:4e42:4c::209, ...
Connecting to repo1.maven.org (repo1.maven.org)|199.232.192.209|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 375470 (367K) [application/java-archive]
Saving to: ‘mongodb-driver-3.12.12.jar’

mongodb-driver-3.12 100%[===================>] 366.67K  --.-KB/s    in 0.03s

2023-04-20 13:03:30 (10.4 MB/s) - ‘mongodb-driver-3.12.12.jar’ saved [375470/375470]

--2023-04-20 13:03:30--  https://repo1.maven.org/maven2/org/mongodb/mongo-java-driver/3.12.12/mongo-java-driver-3.12.12.jar
Resolving repo1.maven.org (repo1.maven.org)... 199.232.192.209, 199.232.196.209, 2a04:4e42:4c::209, ...
Connecting to repo1.maven.org (repo1.maven.org)|199.232.192.209|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2314843 (2.2M) [application/java-archive]
Saving to: ‘mongo-java-driver-3.12.12.jar’

mongo-java-driver-3 100%[===================>]   2.21M  --.-KB/s    in 0.06s

2023-04-20 13:03:30 (34.2 MB/s) - ‘mongo-java-driver-3.12.12.jar’ saved [2314843/2314843]

--2023-04-20 13:03:30--  https://repo1.maven.org/maven2/org/mongodb/bson/4.6.0/bson-4.6.0.jar
Resolving repo1.maven.org (repo1.maven.org)... 199.232.192.209, 199.232.196.209, 2a04:4e42:4c::209, ...
Connecting to repo1.maven.org (repo1.maven.org)|199.232.192.209|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 486633 (475K) [application/java-archive]
Saving to: ‘bson-4.6.0.jar’

bson-4.6.0.jar      100%[===================>] 475.23K  --.-KB/s    in 0.04s

2023-04-20 13:03:30 (12.7 MB/s) - ‘bson-4.6.0.jar’ saved [486633/486633]

In [12]:
from pyspark.shell import spark
from pyspark import SparkContext,SparkConf

uri = "mongodb://localhost:27017/input_data"

from pyspark.sql import SparkSession

spark_jb = "org.mongodb.spark:mongo-spark-connector_2.12:10.1.1"
my_spark = SparkSession \
    .builder \
    .config("spark.executor.memory", "1g") \
    .appName("csc14112") \
    .config("spark.mongodb.read.connection.uri", uri) \
    .config("spark.mongodb.write.connection.uri", uri) \
    .getOrCreate()

Welcome to
      ____              __
     / __/__  ___ _____/ /__
    _\ \/ _ \/ _ `/ __/  '_/
   /__ / .__/\_,_/_/ /_/\_\   version 3.1.1
      /_/

Using Python version 3.9.16 (main, Dec  7 2022 01:11:51)
Spark context Web UI available at http://b84ffae34bdb:4040
Spark context available as 'sc' (master = local[*], app id = local-1681995816597).
SparkSession available as 'spark'.

In [13]:
# Test read data from our mongo db
p = my_spark.read.format("mongodb").option("database","dummy").option("collection", "chunk").load()
p.printSchema()

root

In [14]:
p.show()

++
||
++
++

# Part 1: Introduction to PySpark


In this lab assignment, we will work with a movie dataset loaded into our MongoDB at `input_data.movies_lang`. We will use PySpark RDD and DataFrame to perform the following tasks:

In [16]:
# YOUR CODE HERE

from pyspark.sql.functions import col

# Read data from mongodb
dfMovies = my_spark.read.format("mongodb").option("database","input_data").option("collection","movies_lang").load()

dfMovies.printSchema()
dfMovies.show()

dfMovies.createOrReplaceTempView("Movies")
query = spark.sql("SELECT * FROM Movies")
query.show(5)

root
 |-- _id: string (nullable = true)
 |-- actors: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- _id: string (nullable = true)
 |    |    |-- first_name: string (nullable = true)
 |    |    |-- last_name: string (nullable = true)
 |    |    |-- birth_date: string (nullable = true)
 |    |    |-- role: string (nullable = true)
 |-- country: string (nullable = true)
 |-- director: struct (nullable = true)
 |    |-- _id: string (nullable = true)
 |    |-- last_name: string (nullable = true)
 |    |-- first_name: string (nullable = true)
 |    |-- birth_date: string (nullable = true)
 |-- genre: string (nullable = true)
 |-- languages: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- title: string (nullable = true)
 |-- year: integer (nullable = true)

+--------+--------------------+-------+--------------------+---------------+--------------------+--------------------+----+
|     _id|              actors|country|            director|          genre|           languages|               title|year|
+--------+--------------------+-------+--------------------+---------------+--------------------+--------------------+----+
| movie:1|[{artist:15, Jame...|     DE|{artist:3, Hitchc...|          drama|                [el]|             Vertigo|1958|
| movie:2|[{artist:5, Sigou...|    USA|{artist:4, Scott,...|Science-fiction|    [el, en, it, es]|               Alien|1979|
| movie:3|[{artist:109, Kat...|    USA|{artist:6, Camero...|          drama|[el, de, it, en, ...|             Titanic|1997|
| movie:4|                  []|     FR|{artist:9, Tarkov...|          drama|[en, it, el, fr, de]|           Sacrifice|1986|
| movie:5|[{artist:11, John...|    USA|{artist:10, Woo, ...|         Action|[es, fr, en, it, ...|          Volte/Face|1997|
| movie:6|[{artist:14, John...|    USA|{artist:13, Burto...|    Fantastique|            [it, de]|       Sleepy Hollow|1999|
| movie:7|[{artist:18, Kevi...|    USA|{artist:17, Mende...|        Comédie|    [en, de, it, fr]|     American Beauty|1999|
| movie:8|[{artist:20, Clin...|    USA|{artist:20, Eastw...|        Western|[en, es, it, el, de]|         Impitoyable|1992|
| movie:9|[{artist:23, Russ...|    USA|{artist:4, Scott,...|          drama|            [en, de]|           Gladiator|2000|
|movie:10|[{artist:24, Harr...|    USA|{artist:4, Scott,...|         Action|[es, el, it, fr, ...|        Blade Runner|1982|
|movie:11|[{artist:27, Bruc...|    USA|{artist:26, McTie...|         Action|        [de, es, fr]|    Piège de cristal|1988|
|movie:12|[{artist:27, Bruc...|    USA|{artist:28, Harli...|         Action|                [en]|58 minutes pour v...|1990|
|movie:13|[{artist:30, Jacq...|     FR|{artist:29, Piala...|          drama|[fr, el, en, it, de]|            Van Gogh|1990|
|movie:14|[{artist:18, Kevi...|    USA|{artist:31, Finch...|          crime|[en, it, fr, de, ...|               Seven|1995|
|movie:15|[{artist:27, Bruc...|    USA|{artist:33, Gilli...|Science-fiction|        [de, es, en]|      Twelve Monkeys|1995|
|movie:16|[{artist:35, Sean...|     FR|{artist:34, Annau...|          crime|                [el]|Le last_name de l...|1986|
|movie:17|[{artist:11, John...|    USA|{artist:37, Taran...|         Action|[en, de, es, fr, el]|        Pulp fiction|1994|
|movie:18|[{artist:42, Came...|    USA|{artist:41, Farre...|        Comédie|[el, it, es, en, fr]|    Mary à tout prix|1998|
|movie:19|[{artist:44, Arno...|    USA|{artist:6, Camero...|Science-fiction|        [fr, de, es]|          Terminator|1984|
|movie:20|[{artist:46, Roy,...|     FR|{artist:45, Spiel...|        Horreur|[en, de, it, es, el]| Les dents de la mer|1975|
+--------+--------------------+-------+--------------------+---------------+--------------------+--------------------+----+
only showing top 20 rows

+-------+--------------------+-------+--------------------+---------------+--------------------+----------+----+
|    _id|              actors|country|            director|          genre|           languages|     title|year|
+-------+--------------------+-------+--------------------+---------------+--------------------+----------+----+
|movie:1|[{artist:15, Jame...|     DE|{artist:3, Hitchc...|          drama|                [el]|   Vertigo|1958|
|movie:2|[{artist:5, Sigou...|    USA|{artist:4, Scott,...|Science-fiction|    [el, en, it, es]|     Alien|1979|
|movie:3|[{artist:109, Kat...|    USA|{artist:6, Camero...|          drama|[el, de, it, en, ...|   Titanic|1997|
|movie:4|                  []|     FR|{artist:9, Tarkov...|          drama|[en, it, el, fr, de]| Sacrifice|1986|
|movie:5|[{artist:11, John...|    USA|{artist:10, Woo, ...|         Action|[es, fr, en, it, ...|Volte/Face|1997|
+-------+--------------------+-------+--------------------+---------------+--------------------+----------+----+
only showing top 5 rows

### (a) Count the number of movies by country. Sort by count in decreasing order.

In [ ]:
# YOUR CODE HERE

#raise NotImplementedError

### (b) Return the titles of the movies produced in France.

In [ ]:
# YOUR CODE HERE

#raise NotImplementedError

### (c) Return the title of the movies of which Sofia Coppola is one of the actresses.

In [18]:
# YOUR CODE HERE
from pyspark.sql.functions import array_contains, split

dfMovies.where( array_contains(col('actors.first_name'), "Sofia")).where( array_contains(col('actors.last_name'), "Coppola")).select("title").show()

+--------------+
|         title|
+--------------+
|Le parrain III|
+--------------+

### (d) Return the names and birth dates of the directors of movies produced in France.

In [19]:
# YOUR CODE HERE
dfMovies.selectExpr("director.last_name", "director.first_name", "director.birth_date").show()

#raise NotImplementedError

+---------+------------+----------+
|last_name|  first_name|birth_date|
+---------+------------+----------+
|Hitchcock|      Alfred|      1899|
|    Scott|      Ridley|      1937|
|  Cameron|       James|      1954|
|Tarkovski|      Andrei|      1932|
|      Woo|        John|      1946|
|   Burton|         Tim|      1958|
|   Mendes|         Sam|      1965|
| Eastwood|       Clint|      1930|
|    Scott|      Ridley|      1937|
|    Scott|      Ridley|      1937|
|McTierman|        John|      1951|
|   Harlin|       Renny|      1959|
|   Pialat|     Maurice|      1925|
|  Fincher|       David|      1962|
|  Gilliam|       Terry|      1940|
|   Annaud|Jean-Jacques|      1943|
|Tarantino|     Quentin|      1963|
| Farrelly|       Bobby|      1958|
|  Cameron|       James|      1954|
|Spielberg|      Steven|      1946|
+---------+------------+----------+
only showing top 20 rows

### (e) Return the average number of actors in a film.

In [20]:
import math
data_select = spark.sql("select actors from Movies")
n_rows = data_select.count()
sum = 0
for i in range(n_rows):
  row = data_select.collect()[i][0];
  sum = sum + len(row)
avg = math.ceil(sum / n_rows)
print(avg)

3

### (f) Return the name of the actor that acted in the most movies.

In [21]:
import json
import numpy as np
from collections import Counter

data_select = spark.sql("select actors from Movies")
n_rows = data_select.count()
all_actors = []
for i in range(n_rows):
  row = data_select.collect()[i][0];
  for j in range(len(row)):
    all_actors.append(row[j])
counter = Counter(all_actors)
temp = counter.most_common(1)
actor = temp[0][0]
amount = temp[0][1]
print("Actor:", actor)
print("Amount:", amount)

Actor: Row(_id='artist:27', first_name='Bruce', last_name='Willis', birth_date='1955', role='McClane')
Amount: 3

# Part 2: Real-world Data Manipulation

In this part of the lab, we will work with two collections in our MongoDB: `gia_ke_khai_raw` and `thuoc_raw` loaded at `input_data.gia_ke_khai_raw` and `input_data.thuoc_raw` respectively. We will use PySpark RDD and DataFrame to perform the following tasks:

### (a)  Read the datasets into a DataFrame and print out the schema and the number of records.

In [22]:
# YOUR CODE HERE
dfDrugs = my_spark.read.format("mongodb").option("database","input_data").option("collection","thuoc_raw").load()

dfDrugs.printSchema()
dfDrugs.show(5)
print(dfDrugs.count())

dfPrices = my_spark.read.format("mongodb").option("database","input_data").option("collection","gia_ke_khai_raw").load()

dfPrices.printSchema()
dfPrices.show(5)
print(dfPrices.count())

root
 |-- _id: string (nullable = true)
 |-- baoChe: string (nullable = true)
 |-- chuY: string (nullable = true)
 |-- congTyDk: string (nullable = true)
 |-- congTySx: string (nullable = true)
 |-- congTySxCode: string (nullable = true)
 |-- diaChiDk: string (nullable = true)
 |-- diaChiSx: string (nullable = true)
 |-- dongGoi: string (nullable = true)
 |-- dotPheDuyet: string (nullable = true)
 |-- giaKeKhai: null (nullable = true)
 |-- hieuLuc: null (nullable = true)
 |-- hoatChat: string (nullable = true)
 |-- huongDanSuDung: null (nullable = true)
 |-- huongDanSuDungBn: null (nullable = true)
 |-- id: string (nullable = true)
 |-- images: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- isHide: string (nullable = true)
 |-- meta: struct (nullable = true)
 |    |-- fileName: string (nullable = true)
 |-- nhomThuoc: string (nullable = true)
 |-- nongDo: string (nullable = true)
 |-- nuocDk: string (nullable = true)
 |-- nuocSx: string (nullable = true)
 |-- phanLoai: string (nullable = true)
 |-- pheDuyet: string (nullable = true)
 |-- rate: string (nullable = true)
 |-- rows: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- rutSdk: integer (nullable = true)
 |-- rutSdkFile: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- soDangKy: string (nullable = true)
 |-- soQuyetDinh: string (nullable = true)
 |-- state: integer (nullable = true)
 |-- taDuoc: string (nullable = true)
 |-- ten: null (nullable = true)
 |-- tenThuoc: string (nullable = true)
 |-- tieuChuan: string (nullable = true)
 |-- tuoiTho: string (nullable = true)

+--------------------+------+----+--------------------+--------------------+------------+--------------------+--------------------+--------------------+-----------+---------+-------+--------------------+--------------+----------------+-----------+------+------+------+---------+------+--------+--------+--------+----------+-----+----+------+----------+-----------+-----------+-----+------+----+--------------------+---------+--------+
|                 _id|baoChe|chuY|            congTyDk|            congTySx|congTySxCode|            diaChiDk|            diaChiSx|             dongGoi|dotPheDuyet|giaKeKhai|hieuLuc|            hoatChat|huongDanSuDung|huongDanSuDungBn|         id|images|isHide|  meta|nhomThuoc|nongDo|  nuocDk|  nuocSx|phanLoai|  pheDuyet| rate|rows|rutSdk|rutSdkFile|   soDangKy|soQuyetDinh|state|taDuoc| ten|            tenThuoc|tieuChuan| tuoiTho|
+--------------------+------+----+--------------------+--------------------+------------+--------------------+--------------------+--------------------+-----------+---------+-------+--------------------+--------------+----------------+-----------+------+------+------+---------+------+--------+--------+--------+----------+-----+----+------+----------+-----------+-----------+-----+------+----+--------------------+---------+--------+
|644137fb8dad4151e...|      |null|Công ty cổ phần d...|Công ty cổ phần d...|    PHARBACO|160 - Tôn Đức Thắ...|160 - Tôn Đức Thắ...|   Hộp 2 vỉ x 7 viên|        119|     null|   null|amoxicilin  500mg...|          null|            null|VD-10418-10|    []|   Yes|{null}| Tân dược|      |Việt Nam|Việt Nam|    null|24/02/2010|018.5|  []|     0|        []|VD-10418-10|  42/QĐ-QLD|  202|  null|null|Amogentine 500mg/...|     TCCS|24 tháng|
|644137fb8dad4151e...|      |null|Công ty cổ phần d...|Công ty cổ phần d...|    PHARBACO|160 - Tôn Đức Thắ...|160 - Tôn Đức Thắ...|Hộp 3 vỉ x 4 viên...|        119|     null|   null|  levofloxacin 250mg|          null|            null|VD-10419-10|    []|   Yes|{null}| Tân dược|      |Việt Nam|Việt Nam|    null|24/02/2010|005.0|  []|     0|        []|VD-10419-10|  42/QĐ-QLD|  202|  null|null|             PQAlevo|     TCCS|36 tháng|
|644137fb8dad4151e...|      |null|Công ty cổ phần d...|Công ty cổ phần d...|   FORIPHARM|Xã Nam Sơn, huyện...|Xã Nam Sơn, huyện...|Lọ 100 viên, 250 ...|        119|     null|   null|Berberin clorid 0...|          null|            null|VD-10420-10|    []|   Yes|{null}| Tân dược|      |Việt Nam|Việt Nam|    null|24/02/2010|005.0|  []|     0|        []|VD-10420-10|  42/QĐ-QLD|  202|  null|null|      Berberin 0,01g|   DĐVN 3|24 tháng|
|644137fb8dad4151e...|      |null|Công ty cổ phần d...|Công ty cổ phần d...|   FORIPHARM|Xã Nam Sơn, huyện...|Xã Nam Sơn, huyện...|Hộp 5 vỉ, 10 vỉ, ...|        119|     null|   null|Berberin clorid 0...|          null|            null|VD-10421-10|    []|   Yes|{null}| Tân dược|      |Việt Nam|Việt Nam|    null|24/02/2010|005.0|  []|     0|        []|VD-10421-10|  42/QĐ-QLD|  202|  null|null|      Berberin 0,05g|     TCCS|36 tháng|
|644137fb8dad4151e...|      |null|Công ty cổ phần d...|Công ty cổ phần d...|   FORIPHARM|Xã Nam Sơn, huyện...|Xã Nam Sơn, huyện...|Hộp 10 vỉ x 10 vi...|        119|     null|   null|Doxycyclin hydroc...|          null|            null|VD-10422-10|    []|   Yes|{null}| Tân dược|      |Việt Nam|Việt Nam|    null|24/02/2010|005.0|  []|     0|        []|VD-10422-10|  42/QĐ-QLD|  202|  null|null|Doxycyclin TW3 10...|   DĐVN 3|24 tháng|
+--------------------+------+----+--------------------+--------------------+------------+--------------------+--------------------+--------------------+-----------+---------+-------+--------------------+--------------+----------------+-----------+------+------+------+---------+------+--------+--------+--------+----------+-----+----+------+----------+-----------+-----------+-----+------+----+--------------------+---------+--------+
only showing top 5 rows

38945
root
 |-- _id: string (nullable = true)
 |-- doanhNghiepDk: string (nullable = true)
 |-- doanhNghiepSx: string (nullable = true)
 |-- dongGoi: string (nullable = true)
 |-- dvt: string (nullable = true)
 |-- giaBan: string (nullable = true)
 |-- hoatChat: null (nullable = true)
 |-- id: string (nullable = true)
 |-- image: null (nullable = true)
 |-- ngayBaoCao: string (nullable = true)
 |-- ngayVanBan: null (nullable = true)
 |-- nongDo: null (nullable = true)
 |-- sdk: string (nullable = true)
 |-- soVanBan: null (nullable = true)
 |-- stt: null (nullable = true)
 |-- tenThuoc: null (nullable = true)

+--------------------+--------------------+-------------+--------------------+----+------+--------+--------------------+-----+----------+----------+------+-----------+--------+----+--------+
|                 _id|       doanhNghiepDk|doanhNghiepSx|             dongGoi| dvt|giaBan|hoatChat|                  id|image|ngayBaoCao|ngayVanBan|nongDo|        sdk|soVanBan| stt|tenThuoc|
+--------------------+--------------------+-------------+--------------------+----+------+--------+--------------------+-----+----------+----------+------+-----------+--------+----+--------+
|644137f98dad4151e...|Công ty cổ phần d...|         null|Hộp 6 vỉ x 10 viê...|Viên|  3000|    null|5d4947f46f6a36432...| null|26/03/2019|      null|  null|VD-31633-19|    null|null|    null|
|644137f98dad4151e...|Công ty cổ phần d...|         null|   Hộp 2 vỉ x 7 viên|Viên|450000|    null|5d4947f46f6a36432...| null|26/03/2019|      null|  null|VD-30908-18|    null|null|    null|
|644137f98dad4151e...|Công ty cổ phần d...|         null|  Hộp 6 vỉ x 10 viên|Viên|  6000|    null|5d4947f46f6a36432...| null|26/03/2019|      null|  null|VD-31634-19|    null|null|    null|
|644137f98dad4151e...|Công ty cổ phần d...|         null|        Hộp 100 viên|Viên|   800|    null|5d4947f46f6a36432...| null|26/03/2019|      null|  null|VD-28717-18|    null|null|    null|
|644137f98dad4151e...|Công ty TNHH dược...|         null|  Hộp 6 vỉ x 10 viên|Viên|  4000|    null|5d4947f46f6a36432...| null|27/03/2019|      null|  null|VD-32382-19|    null|null|    null|
+--------------------+--------------------+-------------+--------------------+----+------+--------+--------------------+-----+----------+----------+------+-----------+--------+----+--------+
only showing top 5 rows

62197

### (b) Show all records in the `thuoc_raw` collection that have the same active pharmaceutical ingredient (API) in their `hoatChat` field as their medicine name.


Notes: In the context of medication, API stands for Active Pharmaceutical Ingredient, which is the biologically active component in a drug that produces the intended therapeutic effect. In other words, it is the chemical substance that gives a medicine its medicinal properties.

In [24]:
# YOUR CODE HERE
dfDrugs.where(dfDrugs.hoatChat.contains(dfDrugs.tenThuoc)).show()
#raise NotImplementedError

+--------------------+------+----+--------------------+--------------------+------------+--------------------+--------------------+--------------------+-----------+---------+-------+--------------------+--------------+----------------+-----------+------+------+------+---------+------+--------+--------+--------+----------+-----+----+------+----------+-----------+-----------+-----+------+----+------------------+---------+--------+
|                 _id|baoChe|chuY|            congTyDk|            congTySx|congTySxCode|            diaChiDk|            diaChiSx|             dongGoi|dotPheDuyet|giaKeKhai|hieuLuc|            hoatChat|huongDanSuDung|huongDanSuDungBn|         id|images|isHide|  meta|nhomThuoc|nongDo|  nuocDk|  nuocSx|phanLoai|  pheDuyet| rate|rows|rutSdk|rutSdkFile|   soDangKy|soQuyetDinh|state|taDuoc| ten|          tenThuoc|tieuChuan| tuoiTho|
+--------------------+------+----+--------------------+--------------------+------------+--------------------+--------------------+--------------------+-----------+---------+-------+--------------------+--------------+----------------+-----------+------+------+------+---------+------+--------+--------+--------+----------+-----+----+------+----------+-----------+-----------+-----+------+----+------------------+---------+--------+
|644137fb8dad4151e...|      |null|Công ty cổ phần d...|Công ty cổ phần d...|   FORIPHARM|Xã Nam Sơn, huyện...|Xã Nam Sơn, huyện...|Hộp 10 vỉ, 50 vỉ ...|        119|     null|   null|  Paracetamol 500 mg|          null|            null|VD-10423-10|    []|   Yes|{null}| Tân dược|      |Việt Nam|Việt Nam|    null|24/02/2010|018.5|  []|     0|        []|VD-10423-10|  42/QĐ-QLD|  202|  null|null|Paracetamol 500 mg|   DĐVN 3|24 tháng|
|644137fb8dad4151e...|      |null|Công ty cổ phần d...|Công ty cổ phần d...|   FORIPHARM|Xã Nam Sơn, huyện...|Xã Nam Sơn, huyện...|     Lọ 400 viên nén|        119|     null|   null|  Tetracyclin 250 mg|          null|            null|VD-10425-10|    []|   Yes|{null}| Tân dược|      |Việt Nam|Việt Nam|    null|24/02/2010|018.5|  []|     0|        []|VD-10425-10|  42/QĐ-QLD|  202|  null|null|Tetracyclin 250 mg|   DĐVN 3|24 tháng|
|644137fb8dad4151e...|      |null|Công ty Cổ phần D...|Công ty Cổ phần D...|    PHARBACO|160 Tôn Đức Thắng...|160 Tôn Đức Thắng...|Hộp 10 vỉ xé x 10...|        119|     null|   null|     Cimetidin 200mg|          null|            null|VD-10431-10|    []|   Yes|{null}| Tân dược|      |Việt Nam|Việt Nam|    null|24/02/2010|018.5|  []|     0|        []|VD-10431-10|  42/QĐ-QLD|  202|  null|null|   Cimetidin 200mg|   DĐVN 3|48 tháng|
|644137fb8dad4151e...|      |null|Công ty Cổ phần D...|Công ty Cổ phần D...|    PHARBACO|160 Tôn Đức Thắng...|160 Tôn Đức Thắng...|Hộp 10 vỉ x 10 vi...|        119|     null|   null|    Lincomycin 500mg|          null|            null|VD-10440-10|    []|   Yes|{null}| Tân dược|      |Việt Nam|Việt Nam|    null|24/02/2010|018.5|  []|     0|        []|VD-10440-10|  42/QĐ-QLD|  202|  null|null|  Lincomycin 500mg|   DĐVN 3|36 tháng|
|644137fb8dad4151e...|      |null|Công ty Cổ phần D...|Công ty Cổ phần D...|    PHARBACO|160 Tôn Đức Thắng...|160 Tôn Đức Thắng...|Hộp 100 ống thuốc...|        119|     null|   null|  Ouabain 0,25mg/1ml|          null|            null|VD-10446-10|    []|   Yes|{null}| Tân dược|      |Việt Nam|Việt Nam|    null|24/02/2010|018.5|  []|     0|        []|VD-10446-10|  42/QĐ-QLD|  202|  null|null|    Ouabain 0,25mg|     TCCS|36 tháng|
|644137fb8dad4151e...|      |null|Công ty Cổ phần D...|Công ty Cổ phần D...|    PHARBACO|160 Tôn Đức Thắng...|160 Tôn Đức Thắng...|Hộp 10 vỉ x 10 vi...|        119|     null|   null|     Piracetam 400mg|          null|            null|VD-10452-10|    []|   Yes|{null}| Tân dược|      |Việt Nam|Việt Nam|    null|24/02/2010|018.5|  []|     0|        []|VD-10452-10|  42/QĐ-QLD|  202|  null|null|         Piracetam|     TCCS|36 tháng|
|644137fb8dad4151e...|      |null|Công ty cổ phần d...|Công ty cổ phần d...|     VIDIPHA|18-Nguyễn Văn Trỗ...|18-Nguyễn Văn Trỗ...|Hộp 2 vỉ x 10 viê...|        119|     null|   null|  Griseofulvin 500mg|          null|            null|VD-10470-10|    []|   Yes|{null}| Tân dược|      |Việt Nam|Việt Nam|    null|24/02/2010|005.0|  []|     0|        []|VD-10470-10|  42/QĐ-QLD|  202|  null|null|Griseofulvin 500mg| DĐVN III|36 tháng|
|644137fb8dad4151e...|      |null|Công ty cổ phần d...|Công ty cổ phần d...|     VIDIPHA|18-Nguyễn Văn Trỗ...|18-Nguyễn Văn Trỗ...|Hộp 10 vỉ x 10 vi...|        119|     null|   null|   Indomethacin 25mg|          null|            null|VD-10471-10|    []|   Yes|{null}| Tân dược|      |Việt Nam|Việt Nam|    null|24/02/2010|005.0|  []|     0|        []|VD-10471-10|  42/QĐ-QLD|  202|  null|null| Indomethacin 25mg|     TCCS|36 tháng|
|644137fb8dad4151e...|      |null|Công ty cổ phần d...|Công ty cổ phần d...|     VIDIPHA|18-Nguyễn Văn Trỗ...|18-Nguyễn Văn Trỗ...|Hộp 10 vỉ x 10 vi...|        119|     null|   null|   Paracetamol 500mg|          null|            null|VD-10475-10|    []|   Yes|{null}| Tân dược|      |Việt Nam|Việt Nam|    null|24/02/2010|018.5|  []|     0|        []|VD-10475-10|  42/QĐ-QLD|  202|  null|null| Paracetamol 500mg| DĐVN III|36 tháng|
|644137fb8dad4151e...|      |null|Công ty cổ phần d...|Công ty cổ phần d...|     VIDIPHA|18-Nguyễn Văn Trỗ...|18-Nguyễn Văn Trỗ...|Hộp 10 vỉ x 10 vi...|        119|     null|   null|   Paracetamol 500mg|          null|            null|VD-10476-10|    []|   Yes|{null}| Tân dược|      |Việt Nam|Việt Nam|    null|24/02/2010|018.5|  []|     0|        []|VD-10476-10|  42/QĐ-QLD|  202|  null|null| Paracetamol 500mg| DĐVN III|36 tháng|
|644137fb8dad4151e...|      |null|Công ty cổ phần d...|Công ty cổ phần d...|     VIDIPHA|18-Nguyễn Văn Trỗ...|18-Nguyễn Văn Trỗ...|Hộp 2 vỉ x 20 viê...|        119|     null|   null|       Prednison 5mg|          null|            null|VD-10477-10|    []|   Yes|{null}| Tân dược|      |Việt Nam|Việt Nam|    null|24/02/2010|018.5|  []|     0|        []|VD-10477-10|  42/QĐ-QLD|  202|  null|null|     Prednison 5mg|     TCCS|36 tháng|
|644137fb8dad4151e...|      |null|Công ty cổ phần d...|Công ty cổ phần d...|     TVPHARM|27 Điện Biên Phủ,...|27 Điện Biên Phủ,...|Hộp 1 lọ + 10ml n...|        119|     null|   null|Cefuroxim natri 7...|          null|            null|VD-10489-10|    []|   Yes|{null}| Tân dược|      |Việt Nam|Việt Nam|    null|24/02/2010|005.0|  []|     0|        []|VD-10489-10|  42/QĐ-QLD|  202|  null|null|   Cefuroxim 750mg|     TCCS|36 tháng|
|644137fb8dad4151e...|      |null|Công ty cổ phần d...|Công ty cổ phần d...|     TVPHARM|27 Điện Biên Phủ,...|27 Điện Biên Phủ,...|Hộp 10 vỉ x 10 vi...|        119|     null|   null| Ciprofloxacin 500mg|          null|            null|VD-10492-10|    []|   Yes|{null}| Tân dược|      |Việt Nam|Việt Nam|    null|24/02/2010|018.5|  []|     0|        []|VD-10492-10|  42/QĐ-QLD|  202|  null|null|     Ciprofloxacin| DĐVN III|36 tháng|
|644137fb8dad4151e...|      |null|Công ty cổ phần d...|Công ty cổ phần d...|     TVPHARM|27 Điện Biên Phủ,...|27 Điện Biên Phủ,...|Chai 100 viên, ch...|        119|     null|   null|    Prednisolone 5mg|          null|            null|VD-10498-10|    []|   Yes|{null}| Tân dược|      |Việt Nam|Việt Nam|    null|24/02/2010|018.5|  []|     0|        []|VD-10498-10|  42/QĐ-QLD|  202|  null|null|      Prednisolone|     TCCS|36 tháng|
|644137fb8dad4151e...|      |null|Công ty cổ phần d...|Công ty cổ phần d...|     TVPHARM|27 Điện Biên Phủ,...|27 Điện Biên Phủ,...|Hộp 10 vỉ x 20 vi...|        119|     null|   null|    Prednisolone 5mg|          null|            null|VD-10499-10|    []|   Yes|{null}| Tân dược|      |Việt Nam|Việt Nam|    null|24/02/2010|018.5|  []|     0|        []|VD-10499-10|  42/QĐ-QLD|  202|  null|null|      Prednisolone|     TCCS|36 tháng|
|644137fb8dad4151e...|      |null|Công ty cổ phần D...|Công ty cổ phần D...|      UPHACE|120 Hai Bà Trưng-...|120 Hai Bà Trưng-...|hộp 1 vỉ 10 ống x...|        119|     null|   null|Paracetamol 450mg...|          null|            null|VD-10521-10|    []|   Yes|{null}| Tân dược|      |Việt Nam|Việt Nam|    null|24/02/2010|005.0|  []|     0|        []|VD-10521-10|  42/QĐ-QLD|  202|  null|null| Paracetamol 450mg|     TCCS|24 tháng|
|644137fb8dad4151e...|      |null|Công ty cổ phần d...|Công ty cổ phần d...| MEDIPLANTEX|Thôn Trung Hậu, x...|Thôn Trung Hậu, x...|hộp 20 gói x 1,5 ...|        119|     null|   null|  Roxithromycin 50mg|          null|            null|VD-10542-10|    []|   Yes|{null}| Tân dược|      |Việt Nam|Việt Nam|    null|24/02/2010|005.0|  []|     0|        []|VD-10542-10|  42/QĐ-QLD|  202|  null|null|     Roxithromycin|     TCCS|36 tháng|
|644137fb8dad4151e...|      |null|Công ty cổ phần d...|Công ty cổ phần d...|  MEDIPHARCO|Số 8 Nguyễn Trườn...|Số 8 Nguyễn Trườn...|hộp 1 tuýp 5 gam,...|        119|     null|   null|Promethazin hydro...|          null|            null|VD-10554-10|    []|   Yes|{null}| Tân dược|      |Việt Nam|Việt Nam|    null|24/02/2010|032.0|  []|     0|        []|VD-10554-10|  42/QĐ-QLD|  202|  null|null|       Promethazin|     TCCS|36 tháng|
|644137fb8dad4151e...|      |null|Công ty cổ phần d...|Công ty cổ phần d...|    HADIPHAR|167 Hà Huy Tập, t...|167 Hà Huy Tập, t...|Hộp 2 vỉ x 10 viê...|        119|     null|   null|Hương phụ, ích mẫ...|          null|            null|VD-10563-10|    []|   Yes|{null}|Đông dược|      |Việt Nam|Việt Nam|    null|24/02/2010|032.0|  []|     0|        []|VD-10563-10|  42/QĐ-QLD|  202|  null|null|           ích mẫu|     TCCS|36 tháng|
|644137fb8dad4151e...|      |null|Công ty cổ phần d...|Công ty cổ phần d...|   VACOPHARM|Km 1954, quốc lộ ...|Km 1954, quốc lộ ...|hộp 3 vỉ, 2 vỉ, 5...|        119|     null|   null|     Meloxicam 7,5mg|          null|            null|VD-10568-10|    []|   Yes|{null}| Tân dược|      |Việt Nam|Việt Nam|    null|24/02/2010|032.0|  []|     0|        []|VD-10568-10|  42/QĐ-QLD|  202|  null|null|         Meloxicam|     TCCS|36 tháng|
+--------------------+------+----+--------------------+--------------------+------------+--------------------+--------------------+--------------------+-----------+---------+-------+--------------------+--------------+----------------+-----------+------+------+------+---------+------+--------+--------+--------+----------+-----+----+------+----------+-----------+-----------+-----+------+----+------------------+---------+--------+
only showing top 20 rows

### (c) Create a new DataFrame from the `thuoc_raw` collection that splits the API in the `hoatChat` field into multiple rows. For example, "paracetamol" is the API in "Paracetamol 500 mg," and "amoxicillin" is the API in various medications such as "Amogentine 500mg/125mg," "Augbactam 1g/200mg," and "Viamomentin." The resulting DataFrame should have two columns: `hoatChat` and `thuocTuongUng` as a list. After processing the data, write it back to our MongoDB at `output_data.thuocthaythe`.

In [ ]:
# YOUR CODE HERE

#raise NotImplementedError

### (d) Create new DataFrame from two mentioned above that contains  `tenThuoc`, `hoatChat`, `dongGoi`, `dvt` and `giaBan`. After process the data, write it back to our mongodb at `output_data.giathuoc`.

In [ ]:
# YOUR CODE HERE

#raise NotImplementedError